.contact-heading {
	font-family: 'Lobster', cursive;
}

.contact {
	padding: 50px 0px;
}

.contact-card {
	width: 400px;
}

.contact-by {
	padding: 20px;
}

.contact-img {
	width: 400px;
	padding-right: 50px;
}

.contact-data {
	display: flex;
	justify-content: center;
	align-items: center;
}
