.profile-img {
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	width: 250px;
	margin-top: 2.5rem;
}

.wish {
	font-size: 1.54rem;
	font-weight: 500;
}

.name {
	font-size: 2.2rem;
}

.profession {
	font-size: 1.2rem;
	position: relative;
	left: 50px;
}

.projects-tagline {
	font-size: 1.2rem;
}

/* #home {
	height: 100vh;
} */
