.projects-heading {
	font-family: 'Lobster', cursive;
}

.projects {
	padding-top: 30px;
	padding-bottom: 50px;
}

.project-card {
	padding: 10px;
	width: 300px;
}

.card-header {
	display: flex;
	justify-content: space-between;
}

.stack-details {
	margin-top: 5px;
	margin-bottom: 5px;
}

.stack-details i {
	font-size: 1.2rem;
	padding: 3px;
}
