.devicon {
	font-size: 4rem;
	margin-bottom: 5rem;
	padding: 0.7rem;
}

.devicon:hover {
	border-radius: 5px;
	box-shadow: 2px 1px 11px -2px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 2px 1px 11px -2px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 2px 1px 11px -2px rgba(0, 0, 0, 0.75);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}

.skills-heading {
	font-family: 'Lobster', cursive;
}

.my-3 {
	margin-top: 1rem;
	margin-bottom: 1rem;
}
