/* width */
::-webkit-scrollbar {
	width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

::-webkit-scrollbar-corner {
	background-color: transparent;
}

.ml-3 {
	margin-left: 3rem;
}

body {
	height: 100vh;
}

.main-content,
.side-content {
	height: 100vh;
	overflow: scroll;
}

.side-content {
	/* padding: 1rem; */
	display: flex;
	justify-content: center;
	align-items: center;
}

.avatar {
	width: 200px;
}

ul li a {
	font-size: 1.2rem;
	color: indigo;
	font-weight: 600;
	padding: 0.5rem;
}

ul li a :hover {
	color: rgb(138, 40, 207);
}
.contact-links {
	display: flex;
	justify-content: space-around;
	color: indigo;
}

.contact-links i {
	font-size: 1.5rem;
}

.contact-links a {
	color: indigo;
}

.carrier-objective {
	color: rgb(89, 26, 134);
	margin: 10px;
	font-size: 0.8rem;
	width: 200px;
	text-align: justify;
}

.show-pointer {
	cursor: pointer;
}
