/* width */
::-webkit-scrollbar {
	width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.ml-3 {
	margin-left: 3rem;
}

.main-content,
.side-content {
	height: 100vh;
	overflow: scroll;
}

.p {
	height: 70vh;
	overflow: scroll;
}
